<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Id="MonitoringDlg" Width="370" Height="270"
        Title="!(loc.MonitoringDlg_Title)">

        <!-- Banner -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44"
          TabSkip="no" Text="[ProductName] Setup" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <!-- Header -->
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15"
          Transparent="yes" NoPrefix="yes" Text="!(loc.MonitoringDlgTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15"
          Transparent="yes" NoPrefix="yes" Text="!(loc.MonitoringDlgDescription)" />

        <!-- Grace Period -->
        <Control Id="GraceLabel" Type="Text" X="20" Y="56" Width="100" Height="17"
          NoPrefix="yes" Text="!(loc.MonitoringDlgGraceLabel)" />
        <Control Id="GraceEdit" Type="Edit" X="20" Y="73" Width="60" Height="18"
          Property="GRACE_PERIOD" />
        <Control Id="GraceHint" Type="Text" X="85" Y="75" Width="120" Height="17"
          NoPrefix="yes" Text="!(loc.MonitoringDlgGraceHint)" />

        <!-- Poll Interval -->
        <Control Id="PollLabel" Type="Text" X="20" Y="100" Width="100" Height="17"
          NoPrefix="yes" Text="!(loc.MonitoringDlgPollLabel)" />
        <Control Id="PollEdit" Type="Edit" X="20" Y="117" Width="60" Height="18"
          Property="POLL_INTERVAL" />
        <Control Id="PollHint" Type="Text" X="85" Y="119" Width="120" Height="17"
          NoPrefix="yes" Text="!(loc.MonitoringDlgPollHint)" />

        <!-- Session Warning Threshold -->
        <Control Id="ThresholdLabel" Type="Text" X="20" Y="144" Width="180" Height="17"
          NoPrefix="yes" Text="!(loc.MonitoringDlgThresholdLabel)" />
        <Control Id="ThresholdEdit" Type="Edit" X="20" Y="161" Width="60" Height="18"
          Property="SESSION_THRESHOLD" />
        <Control Id="ThresholdHint" Type="Text" X="85" Y="163" Width="120" Height="17"
          NoPrefix="yes" Text="!(loc.MonitoringDlgThresholdHint)" />

        <!-- Performance Monitoring -->
        <Control Id="PerfCheck" Type="CheckBox" X="20" Y="192" Width="200" Height="17"
          Property="ENABLE_PERF" CheckBoxValue="1"
          Text="!(loc.MonitoringDlgPerfLabel)" />
        <Control Id="RfxCheck" Type="CheckBox" X="36" Y="209" Width="200" Height="17"
          Property="ENABLE_RFX" CheckBoxValue="1"
          Text="!(loc.MonitoringDlgRfxLabel)"
          EnableCondition="ENABLE_PERF = &quot;1&quot;"
          DisableCondition="ENABLE_PERF &lt;&gt; &quot;1&quot;" />

        <!-- Navigation -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17"
          Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17"
          Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17"
          Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
